@use '../base' as *;

.intro {
  background-color: $bg-accent;
  padding: 3rem 0 2.75rem;

  text-align: center;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

  &__title {
    @include custom-text(
      $font-family: $font,
      $font-weight: 600,
      $font-size: $fs-ultra,
      $color: $text-primary,
      $line-height: 1.3
    );

    margin-bottom: 1rem;
  }

  &__text {
    @include custom-text(
      $font-family: $font,
      $font-weight: 500,
      $font-size: $fs-xl,
      $color: $text-secondary,
      $line-height: 1.6
    );

    margin: 0;
  }

  @media (max-width: 991.98px) {
    &__title {
      font-size: $fs-xxxl;
    }

    &__text {
      font-size: $fs-lg;
    }
  }

  @media (max-width: 575.98px) {
    &__title {
      font-size: $fs-xxl;
    }

    &__text {
      font-size: $fs-md;
    }
  }
}
